/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.w-10p {
  width: 15rem;
}

.ml-15p {
  margin-left: 15px;
}

.w-100 {
  width: 100%;
}

.m-20 {
  margin: 20px;
}

.mr-10 {
  margin-right: 10px !important;
}

.flx-center-row {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

